@model IEnumerable<AdmissionManagementSystem.Models.AppliedCourse>

@{
    ViewBag.Title = "AppliedCourses";
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}
<head>
    <title>Applied courses</title>
</head>
<h2>Applied Courses</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
        </tr>
    }

</table>


