@model AdmissionManagementSystem.Models.Student

@{
    ViewBag.Title = "ProfileDetails";
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}

@if (Session["Username"] != null)
{
    <html>
    <head>
        <title>Profile details</title>
    </head>
    <body>
        <div class="row">
            <h2 style="margin-left:5px;">Profile details</h2>
            <hr style="color:dimgrey;" />
            <hr />
            <div class="row-content" style="margin-top:60px; margin-left:-150px;">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.FirstName)</th>
                            <td>@Html.DisplayFor(model => model.FirstName)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.LastName)</th>
                            <td>@Html.DisplayFor(model => model.LastName)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.DateOfBirth)</th>
                            <td>@Html.DisplayFor(model => model.DateOfBirth)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Gender)</th>
                            <td>@Html.DisplayFor(model => model.Gender)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
                            <td>@Html.DisplayFor(model => model.PhoneNumber)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.EmailAddress)</th>
                            <td>@Html.DisplayFor(model => model.EmailAddress)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Address)</th>
                            <td>@Html.DisplayFor(model => model.Address)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.State)</th>
                            <td>@Html.DisplayFor(model => model.State)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.City)</th>
                            <td>@Html.DisplayFor(model => model.City)</td>
                        </tr>
                        <tr>
                            <th></th>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <p>
                    @Html.ActionLink("Back to Home", "Home")
                </p>
            </div>
        </div>
    </body>
</html>
}
else
{
Layout = null;
<p>Session expired</p>
}