@model AdmissionManagementSystem.Models.Student

@{
    ViewBag.Title = "AppliedStudentDetails";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@if (Session["Username"] != null)
{
    <head>
        <title>Applied student details</title>
    </head>

    <h2>Applied student details</h2>

    <div>
        <table class="table">
            <tbody>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.FirstName)</th>
                    <td>@Html.DisplayFor(model => model.FirstName)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.LastName)</th>
                    <td>@Html.DisplayFor(model => model.LastName)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.DateOfBirth)</th>
                    <td>@Html.DisplayFor(model => model.DateOfBirth)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Gender)</th>
                    <td>@Html.DisplayFor(model => model.Gender)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
                    <td>@Html.DisplayFor(model => model.PhoneNumber)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.EmailAddress)</th>
                    <td>@Html.DisplayFor(model => model.EmailAddress)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Address)</th>
                    <td>@Html.DisplayFor(model => model.Address)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.State)</th>
                    <td>@Html.DisplayFor(model => model.State)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.City)</th>
                    <td>@Html.DisplayFor(model => model.City)</td>
                </tr>
                <tr>
                    <th></th>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <p>
        @Html.ActionLink("Education details", "EducationDetails", new { studentId = Model.StudentID }) |
        @Html.ActionLink("Back to List", "AppliedStudents", new { id = Model.StudentID })
    </p>
}
else
{
    Layout = null;
    <p>Session expired</p>
}