@model AdmissionManagementSystem.Models.Login

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<html>
<head>
    <link href="~/Content/CSS/StudentSignup.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Sign in</title>
</head>
<body>
    <div class="container">
        <div class="form-title">
            <h2>Sign in</h2>
        </div>
        <div class="c-img">
            <img src="~/Content/Images/logo.jpeg" style="display: block; margin: 0 auto;" />
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", @placeholder = "", @id = "username", @onfocusout = "Checkusername()" } })
                        <small></small>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "", @id = "password", @onfocusout = "Checkpassword()" } })
                        <small></small>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 btn">
                        <input type="submit" value="Sign in" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
    <script>
        function showAlert(message) {
            alert(message);
        }
    </script>
    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <script>
        $(document).ready(function () {
            showAlert('@ViewBag.ErrorMessage');
        });
        </script>
    }
</body>
</html>


