@model AdmissionManagementSystem.Models.Student

@{
    ViewBag.Title = "Student";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<html>
<head>
    <link href="~/Content/CSS/StudentSignup.css" rel="stylesheet" />
    <title>Student sign up</title>
</head>
<body>
    <div class="container">
        <div class="form-title">
            <h2>Sign up</h2>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <!--Input fields-->
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter first name", @id = "fname", @onfocusout = "Checkfirstname()" } })
                <small></small>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter last name", @id = "lname", @onfocusout = "Checklastname()" } })
                <small></small>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control", @placeholder = "", @id = "dob", @onfocusout = "Checkdob()" } })
                <small></small>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Gender, new List<SelectListItem>
               {
                new SelectListItem{ Text = "Male", Value = "Male" },
                new SelectListItem{ Text = "Female", Value = "Female" },
                new SelectListItem{ Text = "Other", Value = "Other" },
                }, "-----Select Gender-----", new { @class = "form-control", @id = "gender", @onfocusout = "Checkgender()" })
                <small></small>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter phone number", @id = "phone", @onfocusout = "Checkphone()" } })
                <small></small>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter e-mail address", @id = "email", @onfocusout = "Checkemail()" } })
                <small></small>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter address", @id = "address", @onfocusout = "Checkaddress()" } })
                <small></small>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter state", @id = "state", @onfocusout = "Checkstate()" } })
                <small></small>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter city", @id = "city", @onfocusout = "Checkcity()" } })
                <small></small>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter username", @id = "username", @onfocusout = "Checkusername()" } })
                <small></small>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter password", @id = "password", @onfocusout = "Checkpassword()" } })
                <small></small>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Confirm password", @id = "confirmpassword", @onfocusout = "Checkconfirmpassword()" } })
                <small></small>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 btn">
                <input type="submit" value="Sign up" class="btn btn-default" />
            </div>
        </div>
        <div class="form-group" style="margin-left:40px;">
            @Html.ActionLink("Existing user? Sign in here", "Login")
        </div>
    </div>
        }
    </div>
    <script src="~/Content/JS/StudentSignin.js"></script>
</body>
</html>
